#raumbelegungen_edit {
    background-color: #dee2e8;
    padding: 10px;
}

#raumbelegungen_ergebnis {
    float: left;
}

#raumbelegungen_hilfe {
    display: none;
}

.raumbelegungen_hilfe_frage {
    font-size: 14px;
    padding-bottom: 10px;
}

.raumbelegungen_hilfe_antwort {
    font-size: 12px;
    padding-bottom: 10px;
}

#raumbelegungen_print {
    padding: 10px;
}